<div class="container">
  <h2>ユーザー詳細</h2>
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= image_tag(@user.image_url) %></p>
    <p><%= @user.name %></p>
    <p><%= @user.email %></p>
    <%= render 'follow' %>
    <%= render 'follower' %>
  </div>
</div>
