<div class="container">
  <h2>ユーザー詳細</h2>
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= image_tag(@user.image_url) %></p>
    <p><%= @user.name %></p>
    <p><%= @user.email %></p>
    <h2>フォローユーザー一覧</h2>
    <table class="table table-bordered">
      <tr class="info"><th>名前</th><th>アドレス</th></tr>
      <% @follow.each do |follow| %>
        <tr>
          <td></td>
          <td><%= follow.name %></td>
          <td><%= follow.email %></td>
        </tr>
      <% end %>
    </table>
    <h2>フォロワーユーザー一覧</h2>
    <table class="table table-bordered">
      <tr class="info"><th>名前</th><th>アドレス</th></tr>
      <% @follower.each do |follower| %>
        <tr>
          <td><%= follower.name %></td>
          <td><%= follower.email %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
